<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
            {{unit}}

            {{unit.description}}
            {{unit.price}}



            <h3>{{unit.created}}</h3>


            <img src="{{unit.image.url}}" alt="">
<br>
            <h3> Comments </h3>

            {% for comment in comments %}
                <h5>{{comment.text}}</h5>
                <h5>{{comment.author}}</h5>
            {% endfor %}

            <h3> Or Leave Your Comment</h3>
            <form method="POST">
                {% csrf_token %}
                {{commentform}}
                <input type="submit" value="Add Comment">
            </form>
        
        <script src="" async defer></script>
    </body>
</html>